.navbar {
  /* width: 100%;
  height: 60px; */
  display: flex;
  justify-content: space-around;
  padding: 16px;
  box-shadow: 0 1px 3px -2px black;
  background-color: black;
 /* align-items: center; */
}

.links {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 50px;
  color: #626262;
  font-size: 20px;
  font-weight: 500;
}

.links a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: rgb(217, 214, 214); 
  text-decoration: none;
  text-shadow: 1px 1px 2px rgb(0,0,0,0.5);
  font-size: 18px;
  font-family: cursive;
  transition: color 0.3s; 
}

.links a:hover {
  color: #fbf9f9; /* Light color on hover */
}

.links a.active {
  font-weight: bold; /* Bold active link */
  color: white;
}

.nav-login-cart{
  display: flex;
  align-items: center;
  gap: 45px
}

.nav-login-cart button {
  width: 100px;
  height: 40px;
  outline: none;
  border: 1px solid #7a7a7a;
  border-radius: 75px;
  color: #faf8f8;
  font-size: 20px;
  font-weight: 500;
  font-family: cursive;
  background: rgb(13, 13, 13);
  cursor: pointer;
}
.nav-login-cart button:active{
  background: rgb(112, 98, 98);
}

.nav-cart-count{
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -35;
  margin-left: -55px;
  border-radius: 11px;
  font-size: 14px;
  background: red;
  color:white;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;/* Dark background for dropdown */
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #090808; /* Hover effect for dropdown items */
}

.dropdown:hover .dropdown-content {
  display: block; /* Show dropdown on hover */
}

.dropdown-btn {
  color: #eee;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
}

.dropdown-btn:hover {
  color: #fff;
}




