 .sub-promo{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 100%;
  
}

.image-container{
  
  max-width: 100%;
  height: auto;
}

.text-h3{
  position:absolute;
  top: 150%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: rgb(11, 11, 11);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.sub-promo-image {
  max-width:100%;
  height: auto
}

.form {
  border-radius: 1px; 
  background-color: #fff1b2;
  width: 35%; 
  text-align: center;
  padding: 20px;
}

.form p {
  font-size: 16px;
  font-style: italic;
  color: #4a4a4a;
  padding-top: 10px;
}

.input-style {
  margin: 20px;
  padding: 10px;
  width: 250px;
  border: 1px solid #000;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #fff1b2;
}

.submit-button {

    background-color: transparent;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    width: 270px; /* Set the width of the button */
    display: block;
    margin: 0 auto; /* Center the button horizontally */
    color:black;
  }
  .submit-button:hover{
    background-color:rgb(247, 161, 247);
    border-color: #333; /* Change border color */
  }
   
